@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

$body-font-family = "Roboto Mono", monospaced;
.home-slide
    min-height: calc(100vh - 64px - 72px)

@require '~vuetify/src/stylus/main.styl'
